

<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Add New Products</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    </div>
    <form method="post" enctype="multipart/form-data">

        <input type="text" name="product_name" class="form-control my-2" placeholder="Product Name" />
        <input type="text" name="product_price" class="form-control my-2" placeholder="Product price" />
        <input type="text" name="product_description" class="form-control my-2" placeholder="Product description" />
        <input type="file" name="product_image" class="form-control my-2" />
        @Html.Partial("CategoryDropdown", ViewData["category"])
        <input type="submit" value="Add Product" class="form-control my-3 btn btn-primary" >
    </form>
